body{
    background-color: blanchedalmond ;
}

.grid-layout{
    height: 700px;
    display: grid;
    grid-template-areas:'cabecera cabecera'
                         'menu menu'
                         'contenido lateral'
                         'footer footer';
    grid-template-rows: 20% 10% auto 10%;

    background-color: blueviolet;
    border: 2px solid royalblue;

}

.caja{
    border: 1px solid gray;
    background-color: lightgray;
}

.c1{
    grid-area: cabecera;
    background-color: rebeccapurple;
}
.c2{
    grid-area: menu;
    background-color: black;
    color: whitesmoke;
}
.c3{
    grid-area: contenido;
    background-color: blueviolet;
}
.c4{
    grid-area: lateral;
    background-color: blanchedalmond;
}
.c5{
    grid-area: footer;
    background-color: coral;
}